NAME="YOUR PROJECT NAME"
JWT_SECRET="YOUR SECRET KEY"

JWT_EXPIRATION="EXPIRATION NUMBER"

MONGODB_SRV="NAME AND PASSWORD"

SPRING_DOCKER_COMPOSE="TRUE OR FALSE"


#SPRING_MONGODB_URL="YOUR LOCAL HOST"
